* {
    box-sizing: border-box; /* '*' applies to all elements, border-box makes sizing elements easier. EX: Makes assigned width includes margins, paddings, etc. */
  }

html, body {
    background: #000000;
    margin:0;
    padding:0;
    overflow-x: hidden
}

/* COLORS */
.lightblue{
    background-color: #8ea9e8;
}

.darkerlightblue{
    background-color: #768fc9;
}

.lightgreen{
    background-color: #87c5a4;
}

.lightpurple{
    background-color: #8d82c4;
}

.darkerlightpurple{
    background-color: #8d80cc;
}

.lightorange{
    background-color: #ec8d81;
}

.darkerlightorange{
    background-color: #c7776c;
}

.deepblack{
    background-color: rgb(0, 0, 0);
}

/* HEADER CSS */
.header-ribbon {
    position: fixed;
    z-index: 1;
    width:100%;
    overflow: hidden;
    background-color: #00000021;
}


    .header-ribbon a{
        text-decoration: none;
        padding: 0vw 0.5vw 0vw 0.5vw;
        opacity:0.75;
        z-index: 1;
    }

    .header-ribbon a:link {
        color: #ffffffa4;
    }
    .header-ribbon a:visited {
        color: #ffffffa4;
    }
    .header-ribbon:hover{
        transition: .5s ease;
        background-color: #000000;
        color: #ffffff;
        opacity:1;
    }
    .header-ribbon a:hover {
        transition: .5s ease;
        color: #ffffff;
        opacity: 1;
    }




    .header-right {
        font-family: 'Anton', sans-serif;
        font-size: 1vw;
        padding:1vw 2vw 1vw 1vw;
        margin:0.5vw;
        color: #ffffff;
        float: right;
        right: 0%;
        top: 0%;
    }

/* BODY CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container {
    width:100%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.main-banner {
    padding: 2vw 0vw;
    margin: 0vw;
    float: left;
    width:100%;
}
    .main-banner h1{
        margin: 0vw auto;
        font-family: 'Roboto', sans-serif;
        font-size: 2vw;
        text-align: center;
        color: #ffffff;
    }

    .main-banner h2{
        margin: 0vw auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1vw;
        text-align: center;
        color: #ffffff;
    }

    .main-banner hr{
        margin: 0.5vw auto;
        width:20%;

    }
.headline{
    position: relative;
    z-index: 0;
    padding: 3vw;
    width: 100%;
    height: 30vw;
    margin: 0vw;
    float: left;
}

    .headline .content {
        position: relative;
        padding: 8vw;
        top: 50%; /*puts it under the middle line of div*/
        transform: translateY(-50%); /*shift upwards halve of object's height */
    }

        .headline .content  h3{
            margin: 2vw auto;
            padding: 0vw;
            font-family: 'Titillium Web', sans-serif;
            font-size: 3.5vw;
            color:  rgb(235, 235, 235);
        }

        .headline .content hr{
            margin: 0vw auto 2vw auto;
            padding: 0vw;
            border: 0.05vw solid  rgb(235, 235, 235);
        }

        .headline .content p{
            margin: 0.25vw auto;
            padding: 0vw;
            font-family: 'Inconsolata', monospace;
            font-size: 1vw;
            font-weight: bold;
            text-align: justify;
            color:  rgb(235, 235, 235);
        }


        /* Article exclusive CSS */
        .thumbnail{
            position: relative;
            padding:0vw;
            margin: 0vw auto;
            display: flex; /*flex so child divs can fill accordingly to parent div size. Don't add height:100% to the children tho for some reason */
        }
        .thumbnail-pic{
            padding:0vw;
            margin: 0vw auto;
            width:30%;
            background-color: rgb(43, 43, 43);
        }

        .thumbnail-desc2{
            width:70%;
            padding: 3vw;
            background-color:rgb(43, 43, 43);
        }

        .thumbnail .overlay{
            position: absolute;
            width:100%;
            background-color: rgb(255, 255, 255);
            opacity:0.2;
        }

            .thumbnail:hover .overlay{
                opacity:0;
                transition: 0.5s ease;
            }

            .thumbnail:hover h1{
                font-size: 2.1vw;
                transition: 0.5s ease;
                color: rgb(181, 255, 255);
            }

            .thumbnail:hover p{
                font-size: 1.1vw;
                transition: 0.5s ease;
                color: rgb(181, 255, 255);
            }
            .thumbnail hr{
                position: relative;
                margin: -1vw auto 3vw auto;
                padding: 0vw;
                border: 0.05vw solid  rgb(235, 235, 235);
            }
            .thumbnail-desc2 h1{
                position: relative;
                font-family: 'Titillium Web', sans-serif;
                font-size: 2vw;
                color:  rgb(235, 235, 235);
            }

            .thumbnail-desc2 p{
                position: relative;
                font-family: 'Inconsolata', sans-serif;
                font-size: 1vw;
                line-height: 1.5vw;
                color:  rgb(235, 235, 235);
            }
/* FOOTER CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5vw;
    text-align: center;
    margin: 0vw;
    color: #e6e6e6;
}

    .footer h2 {
        font-family: 'Titillium Web', sans-serif;
        font-size: 2vw;
        text-align: center;
        margin: 0.2vw;
        color: #e6e6e6;
    }

    .footer h4 {
        font-family: 'Inconsolata', monospace;
        font-size: 150%;
        font-weight: normal;
        text-align: left;
        margin: 5%;
        color: #bddcff;
    }

    .footer a{
        text-decoration: none;
    }

    .footer p {
        font-family: 'Inconsolata', monospace;
        font-size: 1vw;
        text-align: center;
        margin: 0.2vw;
        color: #e6e6e6;
    }

    .footer .footer-intro {
        width:100%;
        background-color: rgb(40, 33, 112);
        margin: 0vw auto;
        padding: 1vw;
        display: block;
    }

    .footer .column{
        float: left;
        position: relative;
        width: 60%;
        margin: 0 auto;
        padding: 2vw;
        background-color: rgb(26, 13, 73);
        height: 38vw;
    }

    .contact-form{
        position: relative;
        height:100%;
        width:100%;
    }
        .contact-form label,
        .contact-form input[type=submit]{
            text-align: left;
            font-size: 150%;
            font-family: 'Open Sans', sans-serif;
            display: block;
            margin: 0.5vw 1vw;
        }

        .contact-form input[type=submit]{
            left:35%;
            right:40%;
            top:93%;
            width:25%;
            height: 2.5vw;
            background: transparent;
            border: 0.05vw solid  rgb(235, 235, 235);
            color: white;
            text-align: center;
            position: absolute;
        }

            .contact-form input[type=submit]:hover {
                border: 0.3vw solid  rgb(82, 255, 255);
                color: rgb(82, 255, 255);
                transition: 0.5s ease;
            }

        .contact-form .sub-column{
            float:left;
            display: block;
            width: 50%;
            padding: 0vw 1vw;
            margin: 1vw 0vw;
        }

    .footer input[type=text],
    .footer select,
    .footer textarea {
        padding:0.5vw;
        width: 100%;
        float:left;
        border: 0.1vw solid #ccc;
        color: white;
        background-color: #393e57;
        resize: vertical;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(196, 196, 196);
            opacity: 1; /* Firefox */
            font-size: 150%;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgb(196, 196, 196);
            font-size: 150%;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: rgb(196, 196, 196);
            font-size: 150%;
        }

    .footer input[type=text],
    .footer select{
        height:3vw;
    }

    .contact-info .footer hr{
        margin: 3vw;
    }

    .footer hr{
        margin: 1vw 0vw;
    }

    .footer ul{
        margin: auto;
        width:40%;
    }

        .footer ul li:hover h4{
            font-size: 250%;
            transition: 0.5s ease;
            color: rgb(82, 255, 255);
        }

    .footer .small-hr{
        margin: 0.5vw auto;
        width:30%;
        z-index: 1;
        height:0.02vw;
    }

    .footer .title-entry{
        position: relative;
        padding:1%;
    }

    .footer img{
        left: 40%;
        top: 25%;
        position: absolute;
    }



/* SVG CSS */
.thumbnail {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0vw;
    }
    svg {
    margin: 0 auto;
    padding: 0vw;
    height: 100%;
    width: 100%;
    }
    polygon {
    position: relative;
    stroke: rgb(255, 255, 255);
    stroke-width: 0;
    stroke-linejoin: round;
    }
    .thumbnail-content{
        position: relative;
        z-index: 0;
    }
    .thumbnail-content2{
        position: relative;
        z-index: 1;
    }

        .thumbnail .thumbnail-content:hover .overlay{
            opacity:0.6;
        }

        .thumbnail .thumbnail-content:hover .thumbnail-title{
            opacity:1;
            font-size: 50%;
            transform: translate(-34%, 20%);
        }

        .thumbnail .thumbnail-content:hover .thumbnail-desc{
            opacity:1;
        }

        .thumbnail .thumbnail-content:hover + .thumbnail-content2{
            z-index:-1;
            transition: .5s ease;
        }

        .thumbnail .thumbnail-content2:hover .overlay{
            opacity:0.6;
        }

        .thumbnail .thumbnail-content2:hover .thumbnail-title{
            opacity:1;
            font-size: 50%;
            transform: translate(29%, -22.5%);
        }

        .thumbnail .thumbnail-content2:hover .thumbnail-desc{
            opacity:1;
        }

    .thumbnail .overlay{
        fill: black;
        opacity:0.3;
        position: absolute;
        transition: .5s ease;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .thumbnail .click-area{
        fill: rgb(255, 255, 255);
        opacity:0;
        position: absolute;
        transition: .5s ease;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index:2;
    }

    .thumbnail .thumbnail-title{
        opacity:0.5;
        transition: .5s ease;
    }

    .thumbnail .thumbnail-desc{
        opacity:0;
        transition: 0.5s ease;
        transition-delay: 0.5s; /*have to be put after transition property*/
    }